<div class="d-flex justify-content-between ">
  <h1 class="">
    Jobs
  </h1>
  <div>
    <%= button_to "Create a New Job", new_print_job_path, method: :get, class: "btn btn-primary text-white" %>
  </div>
</div>
<div class="mt-4 ">
  <table class="table table-striped border">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Reference Number</th>
      <th scope="col">Name</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Plate</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @print_jobs.map do |print_job| %>
      <tr>
        <td><%= print_job.ref_no %></td>
        <td><%= print_job.name %></td>
        <td> <%= print_job.customer.name %></td>
        <td> <%= print_job.plate_dimensions.first.dimension %></td>
        <td> <%= print_job.state %></td>
        <td>
          <span>
          <%= link_to "Show", print_job_path(print_job) %>
          </span>
          <span class="pl-2">
          <%= link_to "Edit", edit_print_job_path(print_job) %>
          </span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>