<div class="d-flex justify-content-between ">
  <h1 class="">
    All Jobs
  </h1>
  <div>
    <%= button_to new_print_job_path, method: :get, class: "text-sm px-2 py-1 rounded shadow-sm bg-blue-500 text-white" do %>
      <div class="flex items-center">
        <i class="material-icons pr-1">add</i>
        <span>Add Job</span>
      </div>
    <% end %>
  </div>
</div>
<div class="mt-4 ">
  <table class="table shadow-sm border-2 table-borderless border-blue-500 shadow-md md:shadow-lg rounded-t-lg rounded-b-l">
    <thead class="bg-blue-500 text-white md:text-sm text-xs">
    <tr>
      <th scope="col">Job ID</th>
      <th scope="col">Name</th>
      <th scope="col">Customer</th>
      <th scope="col">Plate</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody class="text-gray-700 md:text-sm text-xs">
    <% @print_jobs.map do |print_job| %>
      <tr>
        <td><%= link_to "##{print_job.ref_no}", print_job_path(print_job), class: 'text-blue-500 underline cursor-pointer' %></td>
        <td><%= link_to print_job.name, print_job_path(print_job), class: 'text-blue-500 underline cursor-pointer' %></td>
        <td> <%= print_job.customer.name %></td>
        <td> <%= print_job.plate_jobs.map { |pj| "#{pj.plate_dimension.dimension}(set: #{pj.set}, color: #{pj.color})" }.join(', ') %></td>
        <td> <%= print_job.state %></td>
        <td class="text-right">
          <%= link_to edit_print_job_path(print_job), class: 'text-blue-500 underline cursor-pointer'  do %>
            <i class="material-icons">edit</i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>