<% @presenter = ::PrintJobs::NewPresenter.new(self) %>
<div class="my-4 py-4 border rounded shadow-lg p-4 bg-white">
  <div class="font-semibold text-4xl max-w-3xl mx-auto py-4 text-blue-500 flex flex-row justify-between">
    <span>New Job</span>
    <%= button_to root_path, method: :get, class: "text-sm text-grey-500" do %>
      <div class="flex items-center">
        <i class="material-icons">close</i>
        <span class="hidden md:block">Close</span>
      </div>
    <% end %>
  </div>
  <div class="border-t">
    <div class="max-w-3xl mx-auto mt-4 py-4">
      <%= bootstrap_form_for(@print_job, layout: :horizontal,) do |f| %>
        <%= f.number_field :ref_no, label_class: 'col-form-label', label: 'Reference Number', required: true, maxlength: 255, value: @presenter.next_ref_no %>
        <%= f.select :customer_id, @presenter.customers, { label: "Select a customer", selected: 0 } %>
        <%= f.text_field :name, label_class: 'col-form-label', label: 'Job Name', required: true, maxlength: 255 %>
        <div id="plate_jobs" class="p-2 bg-gray-100 rounded-lg mb-2 border py-2 text-center">
          <%= f.fields_for :plate_jobs do |plate| %>
            <%= render 'plate_job_fields', f: plate %>
          <% end %>
          <div class="links">
            <%= link_to_add_association '+ Add Plate', f, :plate_jobs, class: 'p-4 rounded text-md text-blue-500 add_fields font-semibold' %>
          </div>
        </div>
        <div class="mt-4">
        <%= f.text_area :comments, label_class: 'col-form-label', label: 'Add your comments', placeholder: "Leave a comment...", required: false %>
        </div>
        <%= f.submit "Submit", class: 'text-sm px-6 py-2 rounded shadow-sm bg-blue-500 text-white' %>
        <%= link_to root_path, class: "text-sm px-6 py-2 rounded shadow-sm bg-red-400 text-white no-underline hover:no-underline" do %>
          Cancel
        <% end %>
      <% end %>
    </div>
  </div>
</div>