<div class="my-4 py-4 border rounded shadow-lg p-4 bg-gray-200">
  <div class="flex justify-between items-center max-w-3xl mx-auto">
    <div class="flex items-center">
      <div class="font-semibold text-4xl py-4 text-indigo-500">
      Job #<%= @print_job.ref_no %>
      </div>
      <%= button_to "Edit", edit_print_job_path, method: :get, class: "text-xs py-1 px-2 ml-2 rounded bg-indigo-500 text-white" %>
    </div>
    <div>
      <div class="flex">
        <div class="text-lg font-semibold bg-gray-100 px-4 py-2 rounded-lg border print-job-state-<%= PrintJob.states[@print_job.state] %>"><%= @print_job.state %></div>
      </div>
    </div>

  </div>
  <div class="max-w-3xl mx-auto py-4">
    <div class="flex justify-between">

      <div class="flex items-center">
        <%= image_tag(@print_job.assignee.avatar, alt: @print_job.assignee&.name, class: "rounded-full w-12 h-12 mr-2") %>
        <div class="flex-col">
          <div class="text-sm">Assigned to</div>
          <div class="font-bold text-md text-gray-600 mr-1">
            <%= @print_job.assignee&.name&.titleize %>
          </div>
        </div>
      </div>
      <% if @print_job.state == 'Delivered' %>
        <div class="flex items-center">
          <%= image_tag(@print_job.delivered_by.avatar, alt: @print_job.delivered_by.name, class: "rounded-full w-12 h-12 mr-2") %>
          <div class="flex-col">
            <div class="text-sm">Delivered by</div>
            <div class="font-bold text-md text-gray-600 mr-1">
              <%= @print_job.delivered_by.name.titleize %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="mt-4 flex justify-between">
      <div>
        <div class="mt-4 text-sm">Job Date</div>
        <div class="text-lg font-semibold"><%= @print_job.job_on.strftime('%b %e \'%y') %></div>
      </div>
      <% if @print_job.state != 'Pending' %>
        <div>
          <div class="mt-4 text-sm">Printed at</div>
          <div class="text-lg font-semibold"> <%= @print_job.printed_at&.strftime('%b %e, %l:%M %p') %></div>
        </div>
      <% end %>
      <% if @print_job.state == 'Delivered' %>
        <div>
          <div class="mt-4 text-sm">Delivered at</div>
          <div class="text-lg font-semibold"><%= @print_job.delivered_at&.strftime('%b %e, %l:%M %p') %></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="border-t bg-white rounded-lg py-4 mb-2">
    <div class="max-w-3xl mx-auto">
      <div class=" text-sm">Reference Number</div>
      <div class="text-lg font-semibold"><%= @print_job.ref_no %></div>
      <div class="mt-4 text-sm">Name</div>
      <div class="text-lg font-semibold"><%= @print_job.name %></div>
      <div class="mt-4 text-sm">Customer Name</div>
      <div class="text-lg font-semibold"><%= @print_job.customer.name %></div>
      <% if @print_job.comments.present? %>
        <div class="mt-4 text-sm">Comments</div>
        <div class="text-lg font-semibold"><%= @print_job.comments %></div>
      <% end %>
      <div class="mt-5">
        <div class="row mt-2 text-xs md:text-base border-b md:font-semibold">
          <div class="col-2">Plate</div>
          <div class="col-4">Set xColor</div>
          <% if current_user.is_admin? %>
            <div class="col-3">Price/Plate</div>
            <div class="col-3 text-right">Total</div>
          <% end %>
        </div>
        <% @print_job.plate_usages.each do |pu| %>
          <div class="row mt-2 text-xs md:text-base">
            <div class="col-2"><%= pu.plate_dimension.name %></div>
            <div class="col-4"><%= pu.set %> X <%= pu.color %> = <%= pu.set * pu.color %></div>
            <% if current_user.is_admin? %>
            <div class="col-3"><%= pu.price %></div>
            <div class="col-3 text-right"><%= pu.price * pu.set * pu.color %></div>
            <% end %>
          </div>
        <% end %>
        <% if current_user.is_admin? %>
          <div class="row mt-2 border-t text-xs md:text-base ">
            <div class="col-8"></div>
            <div class="col-4 text-right text-green-500 font-semibold">QR <%=@print_job.plate_usages.inject(0) { |sum, pj| sum + (pj.set*pj.color*pj.price) }%></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to root_path, class: "text-sm px-2 py-1 rounded shadow-sm bg-red-400 text-white no-underline hover:no-underline px-4" do %>
    Close
  <% end %>
</div>