<div class="flex flex-wrap w-full overflow-x-hidden items-center justify-center h-screen">
  <div class=" flex flex-col items-center">
    <%= image_tag("logo.png", :alt => "VERTECHS IMAGING", class: "w-48 -ml-10") %>
    <% unless current_user %>
      <div
        class="flex flex-col items-start">
        <div
          class="mt-2 flex p-0 sm:p-2 sm:pl-0">
          <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded no-underline" %>
        </div>
        <div class="mx-auto my-2 text-grey-500">OR</div>
        <%= bootstrap_form_for(:user, url: user_session_path) do |f| %>
          <%= f.email_field :email, hide_label: true, placeholder: "username" %>
          <%= f.password_field :password, hide_label: true, placeholder: "password" %>
          <%= f.submit "Log In", class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded no-underline" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
