<% @presenter = ::PrintJobs::EditPresenter.new(self, @print_job) %>
<div class="font-weight-bold h1">
  Edit Cashbook Entry
</div>
<div class="mt-4 border rounded shadow-lg p-4 bg-white">
  <%= bootstrap_form_for(@c, layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-9') do |f| %>
    <%= f.number_field :ref_no, label_class: 'col-form-label', label: 'Reference Number', required: true, maxlength: 255 %>
    <%= f.select :customer_id, @presenter.customers, { label: "Select a customer", selected: @print_job.customer.id } %>
    <%= f.text_field :name, label_class: 'col-form-label', label: 'Job Name', required: true, maxlength: 255 %>
    <% date_picker_data = {provide: 'datepicker', 'date-format': 'dd-mm-yyyy', 'date-autoclose': true, 'date-orientation': 'bottom left', 'date-end-date': "0d", 'date-today-btn': 'linked', 'date-today-highlight': true} %>
    <%= f.text_field :job_on, label_class: 'col-form-label', label: 'Job Date', data: date_picker_data, value: @print_job.job_on.strftime('%d-%m-%Y'), autocomplete: "off" %>
    <div id="plate_usages" class="offset-md-3 p-2 bg-gray-100 rounded-lg mb-2">
      <%= f.fields_for :plate_usages do |plate| %>
        <%= render 'plate_usage_fields', f: plate %>
      <% end %>
      <div class="links">
        <%= link_to_add_association '+ Add Plate', f, :plate_usages, class: 'bg-green-400 p-1 rounded text-xs text-white' %>
      </div>
    </div>
    <%= f.text_area :comments, label_class: 'col-form-label', label: 'Add your comments', placeholder: "Leave a comment...", required: false %>
    <%= f.submit "Update", class: 'text-sm px-2 py-1 rounded shadow-sm bg-indigo-500 text-white' %>
    <%= link_to root_path, class: "text-sm px-2 py-1 rounded shadow-sm bg-red-400 text-white no-underline hover:no-underline" do %>
      Cancel
    <% end %>
  <% end %>
</div>