<% presenter = ::Admin::AdminDashboardPresenter.new(self, params) %>
<div class="mt-4">
  <div class="py-2 text-2xl border-b-4">
    Plates used
  </div>
  <div class=" flex md:flex-row flex-col justify-between">
    <% presenter.plates_used_array.each do |pa| %>
      <div class="w-full md:w-1/4 mt-4">
        <div class="text-xl">
          <%= pa[:title] %>
        </div>
        <div class="flex justify-between  border p-2 mt-2">
          <div class="font-semibold">
            size
          </div>
          <div class="font-semibold">
            qty
          </div>
        </div>
        <% pa[:plates].each do |p| %>
          <div class="flex justify-between  border p-2">
            <div>
              <%= p[:size] %>
            </div>
            <div>
              <%= p[:qty] %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="w-full md:w-1/4 mt-4">
      <div class="text-xl">
        Today
      </div>
      <div class="flex justify-between  border p-2 mt-2">
        <div class="font-semibold">
          Name
        </div>
        <div class="font-semibold">
          <div>
            Plates
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-4">
  <div class="py-2 text-2xl border-b-4">
    Total Jobs
  </div>
  <div class=" flex md:flex-row flex-col justify-between">
    <% presenter.total_jobs_array.each do |pa| %>
      <div class="w-full md:w-1/4 mt-4">
        <div class="text-xl">
          <%= pa[:title] %>
        </div>
        <div class="flex justify-between  border p-2 mt-2">
          <div class="font-semibold">
            size
          </div>
          <div class="font-semibold">
            qty
          </div>
        </div>
        <% pa[:customers].each do |p| %>
          <div class="flex justify-between  border p-2">
            <div>
              <%= p[:name] %>
            </div>
            <div>
              <%= p[:qty] %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="mt-4">
  <div class="py-2 text-2xl border-b-4">
    Plates Wasted
  </div>
  <div class=" flex md:flex-row flex-col justify-between">
    <% presenter.plates_wasted_array.each do |pa| %>
      <div class="w-full md:w-1/4 mt-4">
        <div class="text-xl">
          <%= pa[:title] %>
        </div>
        <div class="flex justify-between  border p-2 mt-2">
          <div class="font-semibold">
            Job Id
          </div>
          <div class="font-semibold">
            Wastage
          </div>
        </div>
        <% pa[:jobs].each do |p| %>
          <div class="flex justify-between  border p-2">
            <div>
              #<%= p[:ref_no] %>
            </div>
            <div>
              <%= p[:wastage] %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
