<% presenter = ::Home::DashboardPresenter.new(self) %>
<div class="">
  <div class="flex flex-col md:flex-row justify-content-between ">
    <div class="font-bold text-4xl text-gray-600">
      Welcome
    </div>
    <div class="d-flex">
      <div class="mr-2">
        <%= button_to print_jobs_path, method: :get, class: "text-sm px-2 py-1 rounded shadow-sm bg-blue-500 text-white" do %>
          <div class="flex items-center">
            <i class="material-icons">list</i>
            <span>All Jobs</span>
          </div>
        <% end %>
      </div>
      <div>
        <%= button_to new_print_job_path, method: :get, class: "text-sm px-2 py-1 rounded shadow-sm bg-blue-500 text-white" do %>
          <div class="flex items-center">
            <i class="material-icons">add</i>
            <span>Add Job</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex-col flex md:flex-row md:justify-between mx-auto">
    <div class="md:w-1/4 mt-2">
      <div class="shadow-md rounded-t-md rounded-b-md bg-pink-500">
        <div class="flex justify-between items-center px-4 py-2">
          <i class="material-icons text-5xl text-white">list_alt</i>
          <div>
            <div class="text-xl font-semibold text-white">Total Jobs</div>
            <p class="text-xs text-gray-300">Jobs in the last 30 days</p>
          </div>
          <div class="text-5xl font-bold text-white"><%= PrintJob.count %></div>
        </div>
      </div>
    </div>
    <div class="md:w-1/4 mt-2">
      <div class="shadow-md rounded-t-md rounded-b-md bg-pink-500">
        <div class="flex justify-between items-center px-4 py-2">
          <i class="material-icons text-5xl text-white">playlist_add_check</i>
          <div>
            <div class="text-xl font-semibold text-white">Plates used</div>
            <p class="text-xs text-gray-300">Plates used in the last 30 days</p>
          </div>
          <div class="text-5xl font-bold text-white"><%= PlateJob.count %></div>
        </div>
      </div>
    </div>
    <div class="md:w-1/4 mt-2">
      <div class="shadow-md rounded-t-md rounded-b-md bg-gray-500">
        <div class="flex justify-between items-center pl-2 pr-4 py-2">
          <i class="material-icons text-5xl text-white">delete_forever</i>
          <div>
            <div class="text-xl font-semibold text-white">Plates wasted</div>
            <p class="text-xs text-white">Plates wasted in the last 30 days</p>
          </div>
          <div class="text-5xl font-bold text-white"><%= PlateJob.where(is_wasted: true).count %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 overflow-x-scroll">
    <table class="table shadow-sm border-2 table-borderless border-blue-500">
      <thead class="bg-blue-500 text-white md:text-sm text-xs">
      <tr>
        <th scope="col">Job ID</th>
        <th scope="col">Name</th>
        <th scope="col">Customer</th>
        <th scope="col">Plate</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody class="text-gray-700 md:text-sm text-xs">
      <% presenter.jobs.map do |print_job| %>
        <tr>
          <td>#<%= print_job.ref_no %></td>
          <td><%= print_job.name %></td>
          <td> <%= print_job.customer.name %></td>
          <td> <%= print_job.plate_dimensions.first.dimension %></td>
          <td> <%= print_job.state %></td>
          <td>
          <span>
          <%= link_to "Details", print_job_path(print_job), class: 'text-blue-500 underline cursor-pointer' %>
          </span>
            <span class="pl-2">
          <%= link_to "Edit", edit_print_job_path(print_job), class: 'text-blue-500 underline cursor-pointer' %>
          </span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>