<% presenter = ::Home::DashboardPresenter.new(self, params) %>
<div class="">
  <div class="flex-col flex md:flex-row md:justify-between mx-auto my-4">
    <div class="md:w-1/4 mb-4 mb-md-0">
      <div class="shadow-md md:shadow-lg rounded-t-lg rounded-b-lg bg-pink-500">
        <div class="flex justify-between items-center px-2 py-1">
          <div class="flex">
            <i class="material-icons text-5xl text-white -ml-1 mr-1">list_alt</i>
            <div>
              <div class="text-xl font-semibold text-white">Total Jobs</div>
              <p class="text-xs text-gray-300"><%= "in #{presenter.date.strftime('%B')}" %></p>
            </div>
          </div>
          <div class="text-5xl font-bold text-white"><%= presenter.jobs_in_month.count %></div>
        </div>
      </div>
    </div>
    <div class="md:w-1/4 mb-4 mb-md-0">
      <div class="shadow-md md:shadow-lg rounded-t-lg rounded-b-lg bg-pink-500">
        <div class="flex justify-between items-center px-2 py-1">
          <div class="flex">
            <i class="material-icons text-5xl text-white">playlist_add_check</i>
            <div>
              <div class="text-xl font-semibold text-white">Plates used</div>
              <p class="text-xs text-gray-300"><%= "in #{presenter.date.strftime('%B')}" %></p>
            </div>
          </div>
          <div class="text-5xl font-bold text-white"><%= presenter.plates_used %></div>
        </div>
      </div>
    </div>
    <div class="md:w-1/4 mb-4 mb-md-0">
      <div class="shadow-md md:shadow-lg rounded-t-lg rounded-b-lg bg-gray-500">
        <div class="flex justify-between items-center px-2 py-1">
          <div class="flex">
            <i class="material-icons text-5xl text-white -ml-1 mr-1">delete_forever</i>
            <div>
              <div class="text-xl font-semibold text-white">Plates wasted</div>
              <p class="text-xs text-white"><%= "in #{presenter.date.strftime('%B')}" %></p>
            </div>
          </div>
          <div class="text-5xl font-bold text-white"><%= presenter.plates_wasted %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-row mb-2 justify-between">
    <div>
      <%= bootstrap_form_for(:date_filter, layout: :inline, url: root_path, method: :get) do |f| %>
        <% date_picker_data = {provide: 'datepicker', 'date-format': 'dd-mm-yy', 'date-autoclose': true, 'date-orientation': 'bottom left'} %>
        <%= f.form_group class: 'mr-2 max-w-xs' do %>
          <%= f.text_field :for_date, hide_label: true, data: date_picker_data, class: 'mr-2', value: presenter.date.strftime('%d-%m-%y'), autocomplete: "off" , wrapper: false%>
        <% end %>
        <%= f.form_group do %>
          <%= f.submit 'Go', class: 'text-sm px-2 py-1 rounded shadow-sm bg-blue-500 text-white', wrapper: false%>
        <% end %>
      <% end %>
    </div>
    <div class="flex">
      <!--      <div class="mr-2">-->
      <%#= button_to print_jobs_path, method: :get, class: "text-sm px-2 py-1 rounded shadow-sm bg-blue-500 text-white" do %>
      <!--          <div class="flex items-center">-->
      <!--            <i class="material-icons pr-1">list</i>-->
      <!--            <span>All Jobs</span>-->
      <!--          </div>-->
      <%# end %>
      <!--      </div>-->
      <div>
        <%= button_to new_print_job_path, method: :get, class: "text-sm px-2 py-1 rounded shadow-sm bg-blue-500 text-white" do %>
          <div class="flex items-center">
            <i class="material-icons md:pr-1">add</i>
            <span class="hidden md:block">Add Job</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="overflow-x-scroll">
    <table class="table border-2 table-borderless border-blue-500 shadow-md md:shadow-lg rounded-t-lg rounded-b-lg">
      <thead class="bg-blue-500 text-white md:text-sm text-xs">
      <tr>
        <th scope="col">Job ID</th>
        <th scope="col">Name</th>
        <th scope="col">Customer</th>
        <th scope="col">Plate</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody class="text-gray-700 md:text-sm text-xs">
      <% presenter.jobs_to_display.map do |print_job| %>
        <tr>
          <td><%= link_to "##{print_job.ref_no}", print_job_path(print_job), class: 'text-blue-500 underline cursor-pointer' %></td>
          <td><%= link_to print_job.name, print_job_path(print_job), class: 'text-blue-500 underline cursor-pointer' %></td>
          <td> <%= print_job.customer.name %></td>
          <td>
            <% print_job.plate_jobs.map do |pj| %>
              <div>
                <%= pj.plate_dimension.dimension %>
                <span class="text-xs text-gray-600">( set:<%= pj.set %> color:<%= pj.color %>
                  <% if pj.wastage > 0 %>
                    <span class="text-red-600"> waste:<%= pj.wastage %></span>
                  <% end %>)
                </span>
              </div>
            <% end %>
          </td>
          <td>
            <div class="flex print-job-state-<%= PrintJob.states[print_job.state] %> py-1 rounded-lg text-sm font-semibold"><%= print_job.state %></div>
          </td>
          <td class="text-xs bg-transparent">
            <% if print_job.state == 'Pending' %>
              <%= button_to 'Mark Printed', print_job_mark_printed_path(print_job), class: 'md:w-2/3 py-1 px-2 bg-orange-400 rounded text-white' %>
            <% elsif print_job.state == 'Printed' %>
              <%= link_to 'Mark Delivered', print_job_delivery_note_form_path(print_job), class: 'md:w-2/3 py-1 px-2 bg-green-400 rounded text-white' %>
            <% end %>
          </td>
          <td>
            <%= link_to edit_print_job_path(print_job), class: 'text-blue-500 underline cursor-pointer' do %>
              <i class="material-icons">edit</i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>