<% presenter = ::Home::DashboardPresenter.new(self, params) %>
<div class="">
  <div class="flex-col flex md:flex-row md:justify-between mx-auto my-4 max-w-5xl px-2 py-6 bg-gray-600 shadow rounded">
    <div class="md:w-1/4 mb-4 mb-md-0">
      <div>
        <div class="flex justify-between items-center px-2 py-1">
          <div class="flex">
            <i class="material-icons text-5xl text-white -ml-1 mr-1">list_alt</i>
            <div>
              <div class="text-xl font-semibold text-white">Total Jobs</div>
              <p class="text-xs text-gray-300"><%= "in #{presenter.date.strftime('%B')}" %></p>
            </div>
          </div>
          <div class="text-5xl font-bold text-white"><%= presenter.jobs_in_month.count %></div>
        </div>
      </div>
    </div>
    <div class="md:w-1/4 mb-4 mb-md-0">
      <div>
        <div class="flex justify-between items-center px-2 py-1">
          <div class="flex">
            <i class="material-icons text-5xl text-white">playlist_add_check</i>
            <div>
              <div class="text-xl font-semibold text-white">Plates used</div>
              <p class="text-xs text-gray-300"><%= "in #{presenter.date.strftime('%B')}" %></p>
            </div>
          </div>
          <div class="text-5xl font-bold text-white"><%= presenter.plates_used %></div>
        </div>
      </div>
    </div>
    <div class="md:w-1/4 mb-4 mb-md-0">
      <div>
        <div class="flex justify-between items-center px-2 py-1">
          <div class="flex">
            <i class="material-icons text-5xl text-white -ml-1 mr-1">delete_forever</i>
            <div>
              <div class="text-xl font-semibold text-white">Plates wasted</div>
              <p class="text-xs text-white"><%= "in #{presenter.date.strftime('%B')}" %></p>
            </div>
          </div>
          <div class="text-5xl font-bold text-white"><%= presenter.plates_wasted %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-row justify-between max-w-3xl mx-auto px-1">
    <div>
      <%= bootstrap_form_for(:date_filter, layout: :inline, url: root_path, method: :get) do |f| %>
        <% date_picker_data = {provide: 'datepicker', 'date-format': 'dd-mm-yy', 'date-autoclose': true, 'date-orientation': 'bottom left'} %>
        <%= f.form_group class: 'mr-2 max-w-xs' do %>
          <%= f.text_field :for_date, hide_label: true, data: date_picker_data, class: 'mr-2', value: presenter.date.strftime('%d-%m-%y'), autocomplete: "off", wrapper: false %>
        <% end %>
        <%= f.form_group do %>
          <%= f.submit 'Go', class: 'text-sm px-2 py-1 rounded shadow-sm bg-blue-700  text-white', wrapper: false %>
        <% end %>
      <% end %>
    </div>
    <div class="flex">
      <!--      <div class="mr-2">-->
      <%#= button_to print_jobs_path, method: :get, class: "text-sm px-2 py-1 rounded shadow-sm bg-blue-700  text-white" do %>
      <!--          <div class="flex items-center">-->
      <!--            <i class="material-icons pr-1">list</i>-->
      <!--            <span>All Jobs</span>-->
      <!--          </div>-->
      <%# end %>
      <!--      </div>-->
      <div>
        <%= button_to new_print_job_path, method: :get, class: "text-sm px-2 py-1 rounded shadow-sm bg-blue-700  text-white" do %>
          <div class="flex items-center">
            <i class="material-icons md:pr-1">add</i>
            <span class="hidden md:block">Add Job</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="overflow-x-scroll">
    <table class=" hidden table border-2 table-borderless border-blue-500 shadow-md md:shadow-lg rounded-t-lg rounded-b-lg">
      <thead class="bg-blue-700  text-white md:text-sm text-xs">
      <tr>
        <th scope="col">Job ID</th>
        <th scope="col">Name</th>
        <th scope="col">Customer</th>
        <th scope="col">Plate</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody class="text-gray-700 md:text-sm text-xs">
      <% presenter.jobs_to_display.map do |print_job| %>
        <tr>
          <td><%= link_to "##{print_job.ref_no}", print_job_path(print_job), class: 'text-blue-500 underline cursor-pointer' %></td>
          <td><%= link_to print_job.name, print_job_path(print_job), class: 'text-blue-500 underline cursor-pointer' %></td>
          <td> <%= print_job.customer.name %></td>
          <td>
            <% print_job.plate_jobs.map do |pj| %>
              <div>
                <%= pj.plate_dimension.dimension %>
                <span class="text-xs text-gray-600">( set:<%= pj.set %> color:<%= pj.color %>
                  <% if pj.wastage > 0 %>
                    <span class="text-red-600"> waste:<%= pj.wastage %></span>
                  <% end %>)
                </span>
              </div>
            <% end %>
          </td>
          <td>
            <div class="flex print-job-state-<%= PrintJob.states[print_job.state] %> py-1 rounded-lg text-sm font-semibold"><%= print_job.state %></div>
          </td>
          <td class="text-xs bg-transparent">
            <% if print_job.state == 'Pending' %>
              <%= button_to 'Mark Printed', print_job_mark_printed_path(print_job), class: 'md:w-2/3 py-1 px-2 bg-orange-400 rounded text-white' %>
            <% elsif print_job.state == 'Printed' %>
              <%= link_to 'Mark Delivered', print_job_delivery_note_form_path(print_job), class: 'md:w-2/3 py-1 px-2 bg-green-400 rounded text-white' %>
            <% end %>
          </td>
          <td>
            <%= link_to edit_print_job_path(print_job), class: 'text-blue-500 underline cursor-pointer' do %>
              <i class="material-icons">edit</i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="flex flex-col w-full justify-center items-center pt-2 pb-4">
      <% presenter.jobs_to_display.map do |print_job| %>
        <div class="shadow bg-white rounded-lg flex flex-col md:flex-row w-full border-transparent overflow-hidden hover:border-primary-400 hover:bg-gray-100 px-6 py-4 max-w-3xl my-2">
          <div class="w-2/3">
            <div class="flex">
              <div class="font-semibold text-xl"><%= link_to "##{print_job.ref_no}: #{print_job.name}", print_job_path(print_job), class: 'text-blue-500 cursor-pointer' %></div>
              <%= link_to edit_print_job_path(print_job), class: 'text-blue-500 underline cursor-pointer' do %>
                <i class="material-icons ml-2 text-gray-600 text-lg pt-1">edit</i>
              <% end %>
            </div>
            <div class="text-sm"> for <%= print_job.customer.name %></div>
            <div>
              <% print_job.plate_jobs.map do |pj| %>
                <div>
                  <%= pj.plate_dimension.dimension %>
                  <span class="text-xs text-gray-600">( <%= pj.color %> colors X <%= pj.set %>
                    sets = <%= pj.set * pj.color %> plates
                    <% if pj.wastage > 0 %>
                    , <span class="text-red-600"> waste:<%= pj.wastage %></span>
                  <% end %>
                    )
                </span>
                </div>
              <% end %>
            </div>
            <div class="text-xs text-gray-500 mt-2">
              Created by <span class="text-gray-600"> <%= print_job.assignee.name.titleize %> </span> at
              <span class="text-gray-600"> <%= print_job.created_at.strftime('%l:%M %p') %> </span>
            </div>
          </div>
          <div class="w-full md:w-1/3 text-left md:text-right border-t-2 md:border-t-0 border-l-0 md:border-l-2 pt-2 md:pt-0 pl-2 mt-2 md:mt-0 flex flex-col items-center justify-center ">
            <div class="w-full">
              <div class="flex print-job-state-<%= PrintJob.states[print_job.state] %> py-1 rounded-lg text-sm font-semibold"><%= print_job.state %></div>
            </div>
            <div class="w-full">
              <div class="text-xs">
                <% if print_job.state == 'Pending' %>
                  <%= button_to 'Mark Printed', print_job_mark_printed_path(print_job), class: 'md:w-2/3 py-1 px-2 bg-orange-400 rounded text-white' %>
                <% elsif print_job.state == 'Printed' %>
                  <%= link_to 'Mark Delivered', print_job_delivery_note_form_path(print_job), class: 'md:w-2/3 py-1 px-2 bg-green-400 rounded text-white' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
