<% presenter = ::Home::DashboardPresenter.new(self) %>
<div class="">
  <div class="flex-col flex md:flex-row md:justify-between mx-auto my-4">
    <div class="md:w-1/4 mb-4 mb-md-0">
      <div class="shadow-md md:shadow-lg rounded-t-lg rounded-b-lg bg-pink-500">
        <div class="flex justify-between items-center px-2 py-1">
          <div class="flex">
            <i class="material-icons text-5xl text-white -ml-1 mr-1">list_alt</i>
            <div>
              <div class="text-xl font-semibold text-white">Total Jobs</div>
              <p class="text-xs text-gray-300">Jobs in the last 30 days</p>
            </div>
          </div>
          <div class="text-5xl font-bold text-white"><%= PrintJob.count %></div>
        </div>
      </div>
    </div>
    <div class="md:w-1/4 mb-4 mb-md-0">
      <div class="shadow-md md:shadow-lg rounded-t-lg rounded-b-lg bg-pink-500">
        <div class="flex justify-between items-center px-2 py-1">
          <div class="flex">
            <i class="material-icons text-5xl text-white">playlist_add_check</i>
            <div>
              <div class="text-xl font-semibold text-white">Plates used</div>
              <p class="text-xs text-gray-300">Plates used in the last 30 days</p>
            </div>
          </div>
          <div class="text-5xl font-bold text-white"><%= PlateJob.count %></div>
        </div>
      </div>
    </div>
    <div class="md:w-1/4 mb-4 mb-md-0">
      <div class="shadow-md md:shadow-lg rounded-t-lg rounded-b-lg bg-gray-500">
        <div class="flex justify-between items-center px-2 py-1">
          <div class="flex">
            <i class="material-icons text-5xl text-white -ml-1 mr-1">delete_forever</i>
            <div>
              <div class="text-xl font-semibold text-white">Plates wasted</div>
              <p class="text-xs text-white">Plates wasted in the last 30 days</p>
            </div>
          </div>
          <div class="text-5xl font-bold text-white"><%= PlateJob.where(is_wasted: true).count %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-row-reverse mb-2">
    <div class="ml-2">
      <%= button_to print_jobs_path, method: :get, class: "text-sm px-2 py-1 rounded shadow-sm bg-blue-500 text-white" do %>
        <div class="flex items-center">
          <i class="material-icons pr-1">list</i>
          <span>All Jobs</span>
        </div>
      <% end %>
    </div>
    <div>
      <%= button_to new_print_job_path, method: :get, class: "text-sm px-2 py-1 rounded shadow-sm bg-blue-500 text-white" do %>
        <div class="flex items-center">
          <i class="material-icons pr-1">add</i>
          <span>Add Job</span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="overflow-x-scroll">
    <table class="table border-2 table-borderless border-blue-500 shadow-md md:shadow-lg rounded-t-lg rounded-b-lg">
      <thead class="bg-blue-500 text-white md:text-sm text-xs">
      <tr>
        <th scope="col">Job ID</th>
        <th scope="col">Name</th>
        <th scope="col">Customer</th>
        <th scope="col">Plate</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody class="text-gray-700 md:text-sm text-xs">
      <% presenter.jobs.map do |print_job| %>
        <tr>
          <td><%= link_to "##{print_job.ref_no}", print_job_path(print_job), class: 'text-blue-500 underline cursor-pointer' %></td>
          <td><%= link_to print_job.name, print_job_path(print_job), class: 'text-blue-500 underline cursor-pointer' %></td>
          <td> <%= print_job.customer.name %></td>
          <td> <%= print_job.plate_jobs.map { |pj| "#{pj.plate_dimension.dimension}(#{pj.count})" }.join(', ') %></td>
          <td> <%= print_job.state %></td>
          <td class="text-right">
            <%= link_to edit_print_job_path(print_job), class: 'text-blue-500 underline cursor-pointer'  do %>
              <i class="material-icons">edit</i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>