<% presenter = ::Home::DashboardPresenter.new(self, params) %>
<div class="">
  <div class="flex-col flex md:flex-row md:justify-between mx-auto my-4 w-full">
    <div class="flex w-full md:w-1/3 items-center p-3 border border-success rounded-lg overflow-hidden shadow-md relative mt-2">
      <div class="flex items-center">
        <div class="flex justify-center flex-shrink-0 items-center w-16 h-16 rounded-full bg-green-200 text-green-600">
          <i class="material-icons text-4xl">list_alt</i>
        </div>
        <div class="flex items-center ml-3 text-green-600">
          <div class="text-4xl font-bold"><%= presenter.monthly_stats[:jobs] %></div>
          <div class="ml-2">
            <div class="text-xl font-semibold leading-tight">Total Jobs</div>
            <p class="text-sm leading-tight"><%= "in #{presenter.date.strftime('%B')}" %></p>
          </div>
        </div>
      </div>
      <div class="absolute right-0 top-0 bg-green-200 px-3 py-1 mr-4 rounded-b-lg text-green-600 leading-tight">
        <div class="text-xs font-semibold"><%= presenter.daily_stats[:jobs] %> Today</div>
      </div>
    </div>
    <div class="flex w-full md:w-1/3 items-center p-3 border border-primary rounded-lg overflow-hidden shadow-md relative md:mx-4 mt-2">
      <div class="flex items-center">
        <div class="flex justify-center flex-shrink-0 items-center w-16 h-16 rounded-full bg-blue-200 text-blue-600">
          <i class="material-icons text-4xl">playlist_add_check</i>
        </div>
        <div class="flex items-center ml-3 text-blue-600">
          <div class="text-4xl font-bold"><%= presenter.monthly_stats[:plates] %></div>
          <div class="ml-2">
            <div class="text-xl font-semibold leading-tight">Plates used</div>
            <p class="text-sm leading-tight"><%= "in #{presenter.date.strftime('%B')}" %></p>
          </div>
        </div>
      </div>
      <div class="absolute right-0 top-0 bg-blue-200 px-3 py-1 mr-4 rounded-b-lg text-blue-600 leading-tight">
        <div class="text-xs font-semibold"><%= presenter.daily_stats[:plates] %> Today</div>
      </div>
    </div>
    <div class="flex w-full md:w-1/3 items-center p-3 border border-danger rounded-lg overflow-hidden shadow-md relative mt-2">
      <div class="flex items-center">
        <div class="flex justify-center flex-shrink-0 items-center w-16 h-16 rounded-full bg-red-200 text-red-600">
          <i class="material-icons text-4xl">delete_forever</i>
        </div>
        <div class="flex items-center ml-3 text-red-600">
          <div class="text-4xl font-bold"><%= presenter.monthly_stats[:wastage] %></div>
          <div class="ml-2">
            <div class="text-xl font-semibold">Plates wasted</div>
            <p class="text-xs"><%= "in #{presenter.date.strftime('%B')}" %></p>
          </div>
        </div>
      </div>
      <div class="absolute right-0 top-0 bg-red-200 px-3 py-1 mr-4 rounded-b-lg text-red-600 leading-tight">
        <div class="text-xs font-semibold"><%= presenter.daily_stats[:wastage] %> Today</div>
      </div>
    </div>
  </div>
  <% unless presenter.weekly_target_stats.blank? %>
    <% stats = presenter.weekly_target_stats %>
    <div class="flex flex-col justify-between max-w-5xl mx-auto lg:px-1 pb-4">
      <div>Weekly target<span class="text-xs hidden lg:inline-block">&nbsp;(<%= stats[:week_start] %> - <%= stats[:week_end] %>)</span></div>
      <div class="progress w-full mt-2">
        <div class="progress-bar progress-bar-striped <%= stats[:color_class] %>" style="width:<%= [stats[:percentage_completed], 25].max %>%"><%= stats[:plates_used] %>/<%= stats[:target] %></div>
      </div>
    </div>
  <% end %>
  <div class="flex flex-col lg:flex-row justify-between max-w-5xl mx-auto lg:px-1">
    <div class="mb-4">
      <%= bootstrap_form_for(:filter, layout: :inline, url: root_path, method: :get) do |f| %>
        <% date_picker_data = {provide: 'datepicker', 'date-format': 'dd-mm-yyyy', 'date-autoclose': true, 'date-orientation': 'bottom left', 'date-end-date': "0d", 'date-today-btn': 'linked', 'date-today-highlight': true} %>
        <%= f.form_group class: 'md:mr-1 md:w-auto w-full' do %>
          <%= f.text_field :date, hide_label: true, data: date_picker_data, value: presenter.date.strftime('%d-%m-%Y'), autocomplete: "off", wrapper: false %>
        <% end %>
        <%= f.form_group class: 'md:w-auto w-full md:mr-1' do %>
          <%= f.select :customer_id, presenter.customer_dropdown_options, hide_label: true, selected: params[:filter].try(:[], :customer_id), class: 'mr-2', autocomplete: "off", include_blank: "All Customers", wrapper: false %>
        <% end %>
        <div class="md:mr-1 md:w-auto w-full flex justify-center">
          <%= f.submit 'Filter', class: 'text-sm font-semibold px-8 py-2 rounded shadow-sm bg-blue-700  text-white mr-2', wrapper: false %>
          <%= link_to root_path, class: "text-xs px-2 py-1 rounded shadow-sm bg-blue-700 text-white no-underline hover:no-underline" do %>
            <div class="flex items-center px-2 py-1">
              <i class="material-icons md:pr-1">today</i>
              <span class=" md:block font-semibold">Today</span>
            </div>
          <% end %>
        </div>
        <% end %>
    </div>
    <div class="flex items-center justify-center lg:justify-end -mt-0 lg:-mt-4">
      <div>
        <%= button_to new_print_job_path, method: :get, class: "text-sm font-semibold px-2 py-1 rounded shadow-sm bg-green-700  text-white" do %>
          <div class="flex items-center px-4 py-1">
            <i class="material-icons md:pr-1 font-semibold">add</i>
            <span>Add Job</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <div class="flex flex-col justify-center items-center max-w-5xl mt-2 rounded-lg  shadow-md">
      <% presenter.jobs_on_day.map do |print_job| %>
        <div class="bg-white flex flex-col md:flex-row justify-between w-full border-b border-gray-200 overflow-hidden px-6 py-2 items-center">
          <div class="w-full md:w-1/3">
            <div class="flex">
              <div class="font-normal text-base md:text-lg truncate"><%= link_to "##{print_job.ref_no}: #{print_job.customer.name}", print_job_path(print_job), class: 'cursor-pointer' %></div>
              <%= link_to edit_print_job_path(print_job), class: 'text-gray-900 underline cursor-pointer hidden' do %>
                <i class="material-icons ml-2 text-gray-600 text-lg pt-1">edit</i>
              <% end %>
            </div>
            <div class="text-xs text-gray-500">
              <%= print_job.name %>
            </div>
            <!--            <div class="text-xs flex">-->
            <!--              <div class="text-gray-600 bg-gray-300 px-1">-->
            <!--                Created by <span class="text-gray-600"> <%#= print_job.assignee.name.titleize %> </span> at-->
            <!--                <span class="text-gray-600"> <%#= print_job.created_at.strftime('%l:%M %p') %></span>-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
          <div>
            <div>
              <% print_job.plate_jobs.map do |pj| %>
                <div>
                  <span class="text-base font-normal">
                    <%= pj.plate_dimension.dimension %>
                    </span>
                  <span class="text-base"> (<%= pj.color %>
                    <span class="text-xs text-gray-500">colors</span>, <%= pj.set %>
                    <span class="text-xs text-gray-500">sets = </span><%= pj.set * pj.color %>
                    <span class="text-xs text-gray-500">plates</span>)
                </span>
                </div>
              <% end %>
            </div>
          </div>
          <div>
            <div class="w-full">
              <div class="flex print-job-state-<%= PrintJob.states[print_job.state] %> py-1 rounded-lg text-sm font-semibold"><%= print_job.state %></div>
            </div>
          </div>
          <div class="text-left md:text-right md:pt-0 pl-2 flex flex-col items-center justify-center ">
            <div class="w-full">
              <div class="text-xs">
                <% if print_job.state == 'Pending' %>
                  <%= button_to 'Mark Printed', print_job_mark_printed_path(print_job), class: 'py-1 px-2 bg-orange-400 rounded' %>
                <% elsif print_job.state == 'Printed' %>
                  <%= link_to 'Mark Delivered', print_job_delivery_note_form_path(print_job), class: 'py-1 px-2 bg-green-400 rounded' %>
                <% else %>
                  <div class="text-green-500 text-lg font-semibold"></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
