<% presenter = ::Layouts::ApplicationPresenter.new(self) %>
<!DOCTYPE html>
<html lang='en' data-flash="<%= presenter.flash_messages %>">
<head>
  <title>PlatePrinting</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'shared/flashes', media: 'all' %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
  <%#= stylesheet_pack_tag 'layouts/tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'shared/flashes', 'data-turbolinks-track': 'reload', nonce: true %>
  <%#= javascript_pack_tag 'layouts/tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag "application" %>
</head>


<body class="bg-gray-100">
<section id="header" class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light navbar-container">
      <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag("logo.png", :alt => "VERTECHS IMAGING", class: "site-logo") %>
      </a>

      <% unless @hide_nav_links %>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#nav-links__navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
      <% end %>

      <%= render 'layouts/nav' %>
    </nav>
  </div>
</section>


<div class="container mx-auto max-w-3xl">
  <%= yield %>
</div>

</body>
</html>
