<% presenter = ::Layouts::ApplicationPresenter.new(self) %>
<!DOCTYPE html>
<html lang='en' data-flash="<%= presenter.flash_messages %>">
<head>
  <title>PlatePrinting</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'shared/flashes', media: 'all' %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700,800" rel="stylesheet" >
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_pack_tag 'layouts/tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'shared/flashes', 'data-turbolinks-track': 'reload', nonce: true %>
  <%= javascript_pack_tag 'layouts/tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag "application" %>
</head>


<body class="bg-gray-100">
<% unless @hide_navbar %>
  <section id="header mb-2 shadow-md" class="header">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light navbar-container d-flex justify-content-between">
        <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag("logo.png", :alt => "VERTECHS IMAGING", class: "w-30 h-20") %>
        </a>
        <% if current_user %>
          <%= button_to destroy_user_session_path, method: :delete, class: "text-sm px-2 py-1 rounded shadow-sm bg-gray-500 text-white" do %>
            <div class="flex items-center">
              <i class="material-icons">exit_to_app</i>
              <span>Logout</span>
            </div>
          <% end %>
        <% end %>
      </nav>
    </div>
  </section>
<% end %>


<div class="container mx-auto">
  <%= yield %>
</div>

</body>
</html>
